### Term Project
### DSC 540
### Abed Tabbalat

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

This project is about Covid-19 data, will reformat data into the best shape possible from three sources and combine the necassary variables to give an output to inform viewers on highly important results regarding the pandemic.

In [31]:
# Settings
#Pandas number format settings to be set at 0 decimat places
# Step 5 adjusting pandas settings for formatting figures
pd.options.display.float_format = '{:,.0f}'.format

# Milestone 2

In [32]:
# In this milestone, we will perform data wrangling techniques on the flat file that contains
# data on daily vaccinations by country
# The unique key identifier in all sources will be country
# Step 1 to import the flat file using Pandas
df_flat_raw = pd.read_csv('country_vaccinations.csv')
df_flat_raw.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0,0,NaN,NaN,NaN,0,0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,"1,367",NaN,NaN,NaN,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,"1,367",NaN,NaN,NaN,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,"1,367",NaN,NaN,NaN,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,"1,367",NaN,NaN,NaN,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [33]:
# Before doing any altering exercise, I will create a new variable name to keep the raw data stored as it is
# Will need to change the column names, in order to do that we need to see what the column names are
# Will use the list() function to call a list of the column names
df_flat = df_flat_raw
list(df_flat.columns)

['country',
 'iso_code',
 'date',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'daily_vaccinations_raw',
 'daily_vaccinations',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'daily_vaccinations_per_million',
 'vaccines',
 'source_name',
 'source_website']

In [34]:
# Step 2: Updating column headers using the column attribute:
df_flat.columns = ['Country', 'ISO Code', 'Date','Total Vaccinations', 
                    'People Vaccinated', 'People Fully Vaccinated', 'Daily Vaccinations Raw',
                    'Daily Vaccinations', 'Total Vaccinations/100', 'People Vaccinated/100', 
                    'People Fully Vaccinated/100', 'Daily Vaccinations/Mil', 'Vaccines',
                    'Source Name Vaccinations', 'Source Website Vaccinations']
df_flat.head()

,Country,ISO Code,Date,Total Vaccinations,People Vaccinated,People Fully Vaccinated,Daily Vaccinations Raw,Daily Vaccinations,Total Vaccinations/100,People Vaccinated/100,People Fully Vaccinated/100,Daily Vaccinations/Mil,Vaccines,Source Name Vaccinations,Source Website Vaccinations
0,Afghanistan,AFG,2021-02-22,0,0,NaN,NaN,NaN,0,0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,"1,367",NaN,NaN,NaN,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,"1,367",NaN,NaN,NaN,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,"1,367",NaN,NaN,NaN,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,"1,367",NaN,NaN,NaN,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [59]:
# Step 3: is to remove columns that wont be needed for the project
# The columns that will remain are shown below
df_flat_1 = df_flat[['Country', 'Total Vaccinations', 'People Vaccinated']]
df_flat_1

           Country  Total Vaccinations  People Vaccinated
0      Afghanistan                   0                  0
1      Afghanistan                 NaN                NaN
2      Afghanistan                 NaN                NaN
3      Afghanistan                 NaN                NaN
4      Afghanistan                 NaN                NaN
...            ...                 ...                ...
71810     Zimbabwe           7,432,819          4,204,134
71811     Zimbabwe           7,438,485          4,206,370
71812     Zimbabwe           7,446,076          4,210,000
71813     Zimbabwe           7,458,519          4,216,112
71814     Zimbabwe           7,472,553          4,223,110

[71815 rows x 3 columns]

In [65]:
# Step 4: will summarize the data to have 1 country as a unique ID by using groupby() function
# Using mean since some countries have missing reported dates of vaccinations
df_flat_1 = df_flat_1.groupby('Country').mean().reset_index()
df_flat_1

               Country  Total Vaccinations  People Vaccinated
0          Afghanistan           1,588,162          1,335,322
1              Albania           1,095,255            727,809
2              Algeria           9,435,633          5,414,206
3              Andorra              44,010             29,327
4               Angola           4,244,810          2,800,567
..                 ...                 ...                ...
218              Wales           3,626,606          1,931,716
219  Wallis and Futuna               8,834              4,836
220              Yemen             318,941            265,881
221             Zambia             638,290            187,488
222           Zimbabwe           3,348,647          1,966,053

[223 rows x 3 columns]

In [66]:
# Step 5 is to check for duplicates
print(f'Any duplicated country: {any(df_flat_1.duplicated())}')
# Result confirms no duplicates

Any duplicated country: False

In [67]:
# Step 6 is to check for NULLS in the dataframe
print(f'Any NULLS in Total Vaccinations: {df_flat_1["Total Vaccinations"].isnull().values.any()}')
print(f'Any NULLS in People Vaccinated: {df_flat_1["People Vaccinated"].isnull().values.any()}')
# Result makes sense because using the groupby() function and applying mean() should eliminate the NULLS

Any NULLS in Total Vaccinations: False
Any NULLS in People Vaccinated: False

In [71]:
# Step 7: Data shape is ready for phase 2.
df_flat_1

               Country  Total Vaccinations  People Vaccinated
0          Afghanistan           1,588,162          1,335,322
1              Albania           1,095,255            727,809
2              Algeria           9,435,633          5,414,206
3              Andorra              44,010             29,327
4               Angola           4,244,810          2,800,567
..                 ...                 ...                ...
218              Wales           3,626,606          1,931,716
219  Wallis and Futuna               8,834              4,836
220              Yemen             318,941            265,881
221             Zambia             638,290            187,488
222           Zimbabwe           3,348,647          1,966,053

[223 rows x 3 columns]